fastapi==0.104.1
uvicorn==0.24.0
python-multipart==0.0.6
langchain-groq
langchain-core
langchain
langchain-community
langchain-text-splitters
langgraph
faiss-cpu
sentence-transformers
pymupdf
pydantic